<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>收银台</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        exports = {}
    </script>
    <script src="../../build/2-策略模式/3/test.js"></script>
</head>
<body>
    <div id="app">
        数量：<input v-model="count"/><br/>
        价格：<input v-model="prince"/><br/>

        <template v-for="discount in discounts" :key="$index"\>
            {{discount.text}}: <input type="radio" :value="discount.type" v-model="selectedDiscount.type"><br/>
        </template>

        <template v-if="selectedDiscount.type == 'return'">
            满：<input v-model="selectedDiscount.limit"/><br/>
            减：<input v-model="selectedDiscount.subMoney"/>
        </template>
        <!-- <template v-esle-if="selectedDiscount.type == 'rate'">
            折扣：<input v-model="selectedDiscount.rate"/>
        </template> -->
        
        <br/>
        总价：{{finalMoney}}

        <button @click="calculate()">结算</button>
      </div>
      <script>
          console.log(Casher);
          
          var app = new Vue({
                el: '#app',
                data: {
                    count: 100,
                    prince: 20,
                    discounts: [
                        {
                            type: 'return',
                            text: '满减'
                        },
                        {
                            type: 'rate',
                            text: '折扣'
                        },
                    ],
                    selectedDiscount: {
                        type: '',
                        limit: 100,
                        subMoney: 50,
                        rate: 0
                    },
                    finalMoney: 0
                },
                methods: {
                    calculate(){
                        //1
                        // let params = {
                        //     count: this.count,
                        //     prince: this.prince,
                        //     discountType: this.selectedDiscount.type,
                        //     limit: this.selectedDiscount.limit,
                        //     subMoney: this.selectedDiscount.subMoney,
                        //     rate: this.selectedDiscount.rate
                        // }

                        //3
                        let params = {
                            count: this.count,
                            prince: this.prince,
                            discount: {
                                ...this.selectedDiscount
                            }
                        }

                        console.log(params);
                        

                        let casher = new Casher(params)
                        this.finalMoney = casher.getFinalMoney()
                    }
                }
            })
      </script>
</body>
</html>